#about .about {
    margin-top: -10%;
}
@media screen and (max-width: 1360px) {
    #about .about {
        margin-top: -5%;
    }
}
@media screen and (max-width: 560px) {
    #about .about {
        margin-top: 5%;
    }
}
