.fileUploader .fileContainer {
    background: transparent;
    box-shadow: none;
    padding: 0;
}
.fileContainer .chooseFileButton {
    background: #fc823c;
}
.fileContainer .chooseFileButton:hover {
    background: #fc6107;
}
