.logout {
    border: none;
    background: transparent;
}
.logout:focus {
    outline: none;
}
.logout:hover {
    text-decoration: underline;
}
a[disabled] {
    pointer-events: none;
}
.navbar-nav a[disabled] {
    color: #ddd !important;
}
.login a[disabled] {
    background-color: rgba(252, 130, 59, 0.521) !important;
    border-color: rgba(252, 130, 59, 0.521) !important;
}
@media screen and (max-width: 1440px) {
    .nav-link {
        font-size: 17px;
    }
    .login button,
    .login a {
        font-size: 17px;
    }
}
@media screen and (max-width: 768px) {
    #navbar {
        position: absolute;
        top: 89px;
        right: 0;
        z-index: 999;
        background-color: #fff;
        padding: 25px;
        width: 100%;
    }
}
